<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CÁLCULO ÍNDICE MASA CORPORAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CALCULO ÍNDICE MASA CORPORAL</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>CÁLCULO ÍNDICE MASA CORPORAL</strong>
    <ion-input label="Introduzca su altura (m): " [(ngModel)]="altura" type="number" min="1" max="3" placeholder="Escriba su altura (m)" ></ion-input>
    <ion-input label="Introduzca su peso (kg): " [(ngModel)]="peso" type="number" min="1" max="300" placeholder="Escriba su peso (kg)" ></ion-input>

    <ion-button expand="block"  (click)="consultarIMC()">CALCULAR IMC</ion-button>
    <ion-button expand="block"  (click)="reinciarPartida()">REINICIAR</ion-button>
    <h3>{{txtMensaje}}</h3>
  </div>
</ion-content>
